
@media screen and (max-width: 750px) {

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }

    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }

    .timeline{
        grid-template-columns: 1fr;
    }

    .section{
        padding: 2rem 2.5rem 10rem 2.5rem !important;
    }

    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }

    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }


    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text{
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
        :last-child{
            margin-left: 0;
            margin-top: 1.5rem;
        }
    }
}

@media screen and (max-width: 750px){
    header{
        padding: 0;
        min-height: 100vh;
    }
    header .right-header{
        padding: .5rem !important;
    }

    .theme-btn{
        width: 50px;
        height: 50px;
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 1.5rem !important;
        }
        p{
            margin: 0 !important;
        }
    }
    
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

}


@media screen and (max-width: 1050px){
    .about-container{
        grid-template-columns: 1fr;
    }
    .main-btn{
        margin-bottom: 1rem;
    }
}